<section class="test-center">
  <div class="text-center">
    <h1 class="text-center">Create Album</h1>
    {{#each userId}}
    <span class="text-center" style="display:block">
      {{local.email}}
    </span>
  </div>
  {{/each}}
  <h2 class="text-center">Load Image</h2>
  <div class="text-center">
      {{!-- This is the form that you can uplode  --}}
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="photo" />
      <input type="submit" class="btn btn-primary" value="Upload Photo" />
    </form>

  </div>
</section>